.container {
    position: absolute;
    top: 490px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 9999;
}

.pdf {
    pointer-events: none;
    width: 1000px;
    height: 700px;
}

.close {
    display: flex;
    cursor: pointer;
    padding: 13px 0;
}