.landingContainer1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 0 40px;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mainTitleContainer {
    margin: 60px 240px 80px 240px;
}

.mainTitle {
    font-weight: bold;
    font-size: 3.2rem;
    color: black;
    padding: 0;
    margin: 0;
}

.mainSubTitle {
    font-weight: 400;
    margin: 5px;
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 10px 10px 15px 1px rgb(53, 53, 53);
    margin-bottom: 60px;
}

.profileImg {
    width: 320px;
    margin-bottom: 70px;
    margin-left: 10px;
}

.landingContainer2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-radius: 30px;
    padding: 100px 280px;
    margin: 0;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}

.aboutTitle {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.aboutDescription {
    font-weight: 400;
    font-size: 20px;
}

.socialMedia {
    display: flex;
}

.socialMediaImage {
    width: 50px;
    height: 50px;
    margin: 10px 0 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.aboutTitleTools {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 800px;
    padding: 5px;
    font-size: 22px;
    margin-top: 50px;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.iconsSocialMidiaContainer {
    display: flex;
    gap: 10px;
    align-self: start;
}

.socialMidia {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.toolsContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 20px;
    margin-top: 80px;
}

.toolContainer {
    border: 3px solid;
    padding: 0px 10px 10px 10px;
    width: 33.33%;
    border-radius: 30px;
}

.iconTool {
    position: relative;
    border-radius: 10px;
    background-color: #222222;
    width: 100px;
    height: 100px;
    top: -50px;
}

.descriptionTool {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
    margin-top: -25px;
}

.landingContainer3 {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 80px 150px;
    margin: 0;
}

.portfoliosContainer {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1440px) {
    .landingContainer2, .landingContainer3 {
        padding: 80px 100px;
    }
}

@media only screen and (max-width: 764px) {
    .header > img {
        width: 80px;
    }
    
    .mainTitle {
        font-size: 24px;
    }

    .mainSubTitle {
        font-size: 16px;
        margin: 10px 0 0 0;
    }

    .mainTitleContainer {
        margin: 30px 0 50px 0;
    }

    .profileContainer {
        width: 250px;
        height: 250px;
    }

    .landingContainer1 {
        margin: 0;
        padding: 0;
    }

    .aboutTitle {
        font-size: 20px;
    }

    .aboutDescription {
        font-size: 18px;
    }

    .aboutContainer {
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    }

    .aboutTitleTools {
        font-size: 18px;
        width: auto;
        background-image: linear-gradient(62deg, #c37efb 0%, #68f7df 100%);
        box-shadow: 5px 5px 5px 1px black;
    }

    .toolsContainer {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .toolContainer {
        width: auto;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    }

    .landingContainer2 {
        margin: 0;
        padding: 0;
        background-image: linear-gradient(62deg, white 0%, white 100%);
        background-color: white;
    }

    .landingContainer3 {
        margin: 0;
        padding: 0;
    }
}
